LinuxDebug/
Debug/
log/
Release/
temp/
serializer.opensdf
*.sdf
serializer/Debug/serializer.log
*.tlog
*.pdb
*.obj
*.idb
*.lastbuildstate
*.ilk
*.suo
Debug/serializer.exe
*.opensdf
lib/temp/Frame.log
lib/windows/Tinyxml.lib
lib/windows/TimeManager.lib
lib/windows/RPC.lib
lib/windows/Cache.lib
lib/windows/Common.lib
lib/windows/Frame.lib
lib/windows/Log.lib
lib/windows/LuaScript.lib