LinuxDebug/
Debug/
log/
Release/
temp/
serializer.opensdf
*.sdf
serializer/Debug/serializer.log
*.tlog
*.pdb
*.obj
*.idb
*.lastbuildstate
*.ilk
*.suo
Debug/serializer.exe
*.opensdf
lib/temp/Frame.log
lib/windows/Frame.lib