<config>
	<gateway>
		<server>
			<ip>127.0.0.1</ip>
			<port>12345</port>
			<backlog>128</backlog>
		</server>
		<server>
			<ip>127.0.0.1</ip>
			<port>12346</port>
			<backlog>128</backlog>
		</server>
	</gateway>

	<login>
		<ip>127.0.0.1</ip>
		<port>12347</port>
		<backlog>128</backlog>
	</login>

	<center>
		<ip>127.0.0.1</ip>
		<port>12348</port>
		<backlog>128</backlog>
	</center>

	<game>
	</game>	

</config>